{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

<div class="jumbotron">
    <div class="container">
        <h1>Find the artist you love</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        {% include "sidebarGenre.html" %}
    </div>
    <div class="col-sm-9">
        <h2>Latest Artists</h2>
        {% if artists !=[] %} 
        <ul class="artist-list">
            {% for i in artists %}
            <li>
                <a href="{{url_for('showArtist', artist_id=i.id)}}">{{i.name}}</a> <i>({{i.genre.name}})</i>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="well">
            There is no artist
        </div>
        {% endif %}
        {% if 'username' in session %}
        <a href="{{url_for('newArtist')}}" class="btn btn-success">Add Artist</a>
        {%endif%}
    </div>
</div>
{% endblock %}