{% extends "main.html" %}
{% block head_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
{% endblock %}
{% block content %}
<div class="container-small">
    <h2>Please sign in with below services</h2>
    <div class="col-sm-6 text-center">
        <div class="form-group">
            <div id="gpSignInButton">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="1049754845583-o4iifcgfl682rfpnflr9o6gg6kanuuc8.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                </span>
            </div>
            <script>
                function signInCallback(authResult) {
                    if(authResult['code']) {
                        $('#gpSignInButton').addClass('hidden');
                        $.ajax({
                            type: 'POST',
                            url: '/gconnect?csrf_token={{csrf_token}}',
                            processData: false,
                            data: authResult['code'],
                            contentType: 'application/octet-stream; charset=utf-8',
                            success: function(result) {
                                if (result) {
                                    $('#result').html('Login Successful!<br>' + result + '<br>Redirecting...');
                                    setTimeout(function() {
                                        window.location.href = '/'
                                    }, 4000);
                                } else {
                                    $('#result').html('Failed to make a server-side call. Check your configuration and console.').css('color', 'red');
                                }
                            }
                        });
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.').css('color', 'red');
                    }
                }
            </script>
        </div>
        <div class="form-group">
            
        </div>
    </div>
    <div class="col-sm-6">
        <div id="result"></div>
    </div>
</div>
{% endblock %}