<nav class="main-nav navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('home')}}">Music Station</a>
        </div>
        <p class="navbar-text pull-right">
            {% if 'username' not in session %}
            <a href="{{url_for('showLogin')}}" class="navbar-link">Login</a>
            {%else%}
            <a href="{{url_for('disconnect')}}" class="navbar-link">Disconnect</a>
            {%endif%}
        </p>
    </div>
</nav>